.all-medications {
  margin: 5px;
  padding-bottom: 70px;
  text-decoration: none;

  a {
    margin-top: 10px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 19px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

}

#all-medications-title {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 2px;

  h1 {
    margin-top: 20px;
  }
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    text-decoration: none;
  }
}

.medication-index-card {
  width: 90%;
  height: 115px;
  background-color: $cards;
  margin-bottom:24px;
  border-radius: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: none;


  h2 {
    padding-top:10px;
    font-family: $body-font;
    font-size: 14px;
    letter-spacing: 2;

    text-decoration: none;


    text-align: left;
    margin-bottom: 10px;
  }

  p {
    font-family: $body-font;
    font-weight: lighter;
    font-size: 13.5px;
    margin: 0px;
    text-decoration: none;
  }

  a {
    margin: 0px;
  }

}

.trash-can {
  display: flex;
  margin: 0px;
  justify-content: right;
  background: none;
  border: none;
  width: fit-content;

  img {
    padding-right: 3px;
    width: 20px;
    height: 20px;
    display: flex;
    align-content: right;
  }
}


.intake-card.active{
  background-color: rgb(226, 214, 184);
}

.fa-solid.fa-check.active{
  color: black;

  a {
    color: black;
    font-weight: 500;
    font-size: 13;
  }
}
