.show-individual-medication {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: left;
}

.show-content {
  border-radius: 34px 34px 0px 0px;
  background-color: #ffff;
  width: 100%;
  padding: 30px 25px 80px 25px;
  margin-top: 20px;
  height: 736px;

  a {
    color: black;
    font-weight: 500;
    font-size: 13;
    text-decoration: none;
  }

  p {
    font-family: $body-font;
    font-size: 20px;
    margin-bottom: 25px;
  }

  h1 {
    font-family: $body-font;
    text-align: left;
    padding-bottom: 25px;
    margin: 0px;
  }

  h5 {
    font-family: $body-font;
  }
}

.comment-box {
  background-color: #F3F3F3;
  border-radius: 14px;
  padding:15px;
  margin: 0px;
  margin-top: 40px;
  height: 200px;
  width: 100%;
  font-size: 10px;
  font-weight: light;
  font-family: $body-font;

  p {
    font-size: 13px;
    font-family: $body-font;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
  }
}

.btn-add-medication a {
  color: white;
}

.link-all-medications {
  display: flex;
  justify-content: right;
  padding-right: 25px;
  text-decoration: none;


  a {
    color: black;
    font-size: 15px;
    font-family: $headers-font;
    margin-top: 90px;
    text-decoration: none;

  }
}

.show-iage-doc {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: right;
  margin-left: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}
