
.add-medication-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-medication-card {
  border-radius: 34px 34px 0px 0px;
  background-color: $cards;
  width: 100%;
  height: 90%;
  position: fixed;
  bottom: 0;
  padding: 20px;

  h1 {
    padding-bottom: 10px;
  }
}

.add-medication-form {
  margin-top: 100px;
}

.btn-save-medication {
  background-color: black;
  width: 90%;
  height: 60px;
  padding: 5px;
  margin-bottom: 30px;
  border-radius: 34px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;

  .submit {
    background-color: black;
  }
}
