<h3>Hi User</h3>
<img src="" alt="doc-heart">

<div class="medications">
  <h3>Medications</h2>
  <h5>Your next intake</h4>
  <h5>Name of the pill</h5>
  <h5>Time</h5>
  <h5>Dose</h5>
</div>

<div class="appointments">
  <h3>Doctor's Appointments</h2>
  <h5>Your next appointment</h4>
  <h5>Name of the Doctor</h5>
  <h5>Type of appointment</h5>
  <h5>Date</h5>
</div>
