<h3>Hi User</h3>
<img src="/app/assets/images/hamburger.png" alt="">
<div class="medications">
  <h3>Medications</h2>
  <h5>Your next intake</h4>
  <h5>Name of the pill</h5>
  <h5>Time</h5>
  <h5>Dose</h5>
</div>
