<h1> All medications</h1>

<% @medications.each do |medication| %>
    <%= link_to "#{medication.name}", medication_path(medication) %>
    <%= link_to "Delete",
        medication_path(medication),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
  </p>
  <% end %>


  <p><%= link_to "Add medication", new_medication_path %></p>
