<div class="container">
  <h2>Hi User,</h2>

  <div class="home-container">

    <div class="image-doctors-heart">
      <%= image_tag ("doctors-heart.svg") %>
    </div>

    <div class="medications">
      <h3>Medications</h3>
      <h5>YOUR NEXT INTAKE</h5>
      <p>Name of the pill</p>
      <p>Time</p>
      <p>Dose</p>

    </div>

    <div class="appointments">
      <h3>Doctor's Appointments</h3>
      <h5>YOUR NEXT APPOINTMENT</h5>
      <p>Name of the Doctor</p>
      <p>Type of appointment</p>
      <p>Date</p>
    </div>

    <div class="shadow">
    </div>
  </div>
</div>
