.alert {
  position: absolute;
  bottom: 80px;
  right: 20px;
}

.swal-icon--warning {
  color: #F2E1BD;
}
.swal-title {
  font-family: $headers-font;
}
.swal-text {
  font-family: $body-font;
}
.swal-footer {
  display: flex;
  justify-content: center;
}

.swal-footer {
  text-align: center;
}

.swal-button .swal-button--confirm .swal-button--danger {
  background-color: #F2E1BD;
}
