.container {
  align-items: center;
  padding-top: 25px;
}

.medications {
  background-color: #f2e1bd;
  color: black;
  border-radius: 24px;
  margin: 30px;
  margin-bottom: 15px;
  margin-top: 60px;
  padding: 10px 10px;
  width: 324px;
  height: 172px;
  text-decoration: none;
  padding-left: 25px;
  padding-top: 20px;

  a {
    text-decoration: none;
  }
}

.home-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

.appointments {
  background-color: #CEDCF2;
  color: black;
  border-radius: 24px;
  margin: 30px;
  margin-top: 15px;
  padding: 10px 10px;
  width: 324px;
  height: 172px;
  padding-left: 25px;
  padding-top: 30px;
}

.image-doctors-heart img {
  width: 60%;
  display: flex;
  margin: auto;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  height: 100%;


  h5 {
    font-size: 13px;
    font-family: $body-font;
  }

  p {
    margin: 0px;
    font-size: 12px;
    font-weight: lighter;
  }
}

.home-container .shadow {
  align-items: center;
  width: 298px;
  height: 20px;
  left: 46px;
  top: 766px;
  background: #CEDCF2;
  opacity: 15%;
  filter: blur(2px);
  border-radius: 250px;
}
