<h1>Calendar</h1>
<a href="#">1</a>
<a href="#">2</a>
<a href="#">3</a>
<a href="#">4</a>
<a href="#">5</a>
<a href="#">6</a>
<a href="#">7</a>



<% @intakes.each do |intake| %>
  <%= intake.medication.name %>
<% end %>
